/*basic styling page*/

html{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.2;
    height:100%;
    margin:0;
    font-size:1em;
}
body {
    margin-bottom:0px;  /*important adding this margin if use "sticky footer" in bootstrap otherwise some content might get covered by footer space */
    background-repeat: round;
    min-height:100%;
    color:rgb(79, 79, 79);
    background-image:url("../images/circles-dark.png");
}
.container{
    min-height:100%;
    background-color: rgba(184, 184, 184, 0.742);

}
h1{
    font-size:2.3em;
    font-weight: bold;
    color:rgb(2, 152, 226);
    line-height: 3em;
    margin-top:-0.5em;
}
h3{
    font-size:1.6em;
    color:rgb(2, 152, 226);
}
h4{
    font-size:1.7em ;
    color:rgb(210, 210, 210);
}

table{
    width:100%;
}

.footer{
    clear: both;
    height:80px;
    color:white;
    background-color: rgb(2, 152, 226);;
    /* border-top: 8px solid #66bce4; */
    padding-top: 30px;
    text-align:center;
    font-size: 1em;
}
  

/* adjust bootstrap elements to mimic the assignment format*/

.header{
    text-align: center;
    margin-top: -1em;
    padding: 0.8em 0;
    background-color: rgb(79, 0, 0);
    background-image:url("../images/bullet_train2.png");
    /* border-radius:.5em; */
}
.row{
    padding:0.8em;
    /* margin-top: 0.2em; */
    /* background-color:rgba(211, 211, 211, 0.89) !important; */
}

.col-sm-12 > .jumbotron {
    height:100%;
}
.jumbotron {
    padding:0.8em;
    padding-bottom:0.3em; 
    margin-bottom:0.3em;
    background-color: rgb(238, 238, 238);

    /* box-shadow: 0.05em 0.05em rgb(146, 146, 146); */
}
#trainTable{
    line-height: 2em;
}
#trainTable > tr >td{
    border-top: 1px solid rgb(210, 210, 210); 

}
#trainform{
    line-height: 1em;
}

.container{
    min-height:100%;
}

@media(max-width:768px) {
    .images{
        max-block-size: 170px;
        max-width: 170px;
    }
}
@media(max-width:578px) {
    .jumbotron{
        /* max-width: 50% !important; */
        margin-bottom:0.2em;
    }
    h1{
        font-size:2em;
    }
    h3{
        font-size:1.4em;
    }
    h4{
        font-size:1.2em;
    }

   .col-xs-6, .col-sm-6{
        max-width: 50%;
    }
    /* .footer{
        position: relative;
    } */
}